.content{
    width: 36vw;
    height: 36vw;
    padding: 8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color: var(--corDestaque); */
    background: radial-gradient(var(--corDestaque), #E9C46ACA);
    border-radius: 50%;
    font-family: var(--font);
    box-shadow: 1px 1px 8px var(--corDestaque);
    /* transform: skewX(-22deg) skewY(12deg); */
}

.profilepicture{
    perspective: 100%;
    padding: 2rem;
    width: fit-content;
    height: fit-content;
    background-image: url("../src/images/BGcardtransparent.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 25% 25% 0 0  ;
}

body{
    overflow: hidden;
}

img{
    mix-blend-mode: screen;
    /* transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg); */
}

.text-circle{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.text-circle span{
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 0 22rem;    
    font-size: 3rem;
}

.text-circle span:hover{
    font-size: 12rem;
}
