@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    gap: 0;
}


:root{
    --Gradiente: linear-gradient(to right, #6448fe, #600594) ; /*Gradiente Selecionado*/
    --Vermelho: #ff5252; /*ERROR*/

    --White: #ffffff;
    --VioletaClaro: #dedddf;
    --CinzaVioletaClaro: #8e8593;
    --VioletaRoxin: #6448fe;
    --VioletaEscuro: #21092f;

    --Font: 'Space Grotesk', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--Font);
}

h1{
    text-transform: uppercase;
}

input:focus{
    border-style: none;
    border-width: 0;
    outline-color: var(--VioletaRoxin);
    outline-style: inset;
}

::placeholder{
    font-family: var(--Font);
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--VioletaClaro);
}

.container-card{
    width: 33%;
    height: 100%;
    background-image: url('images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    position: relative;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    color: var(--White);
    /* vertical-align: middle; */
}

.container-form{
    width: 60%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-self: center;
    /* text-align: center;*/
    margin-left: 4%;
}

.container-card p{
    font-weight: bold;
}

#logocard{
    position: absolute;
    top: 2rem;
    left: 2.6rem;
}

#numdisplay{
    position: absolute;
    top: 10rem;
    left: 2.6rem;
    font-size: 2.4rem;
}

#namedisplay{
    position: absolute;
    top: 14rem;
    left: 2.6rem;
    font-size: 1.2rem;
}

#datedisplay{
    position: absolute;
    top: 14rem;
    left: 25rem;
    font-size: 1.2rem;
}

#cvcdisplay{
    position: absolute;
    top: 41%;
    left: 24rem;
    font-size: 2rem;
}

#frontcard{
    position: relative;
    right: -16%;
    transform: translateY(-16px);
}

#backcard{
    position: relative;
    right: -36%;
    transform: translateY(16px);
}

.formcard{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 48%;
    margin: auto;
    justify-content: space-between;
}

.formcard h1{
    /* width: 90%; */
    /* margin: auto; */
    font-size: 1.2rem;
    padding: 4px 0px;
}

.formcard input{
    padding: 14px 12px;
    margin-bottom: 24px;
    width: 100%;
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--white);
}

#inputdate{
    display: flex;
    flex-wrap: wrap;
    width: 48%;
}

#inputdate input{
    width: 42%;
    margin-right: 6%;
}

#inputdate h1{
    width: 48%;
}

#inputcvc{
    width: 48%;
}

#inputcvc h1{
    width: 48%;
}

#inputcvc input{
    width: 100%;
}

#confirm{
    background-color: var(--VioletaEscuro);
    color: var(--White);
    font-size: 1.6rem;
    font-family: var(--Font);
    text-align: center;
    width: 100%;
    border-radius: 8px;
    padding: 16px 16px;
    margin: 16px auto;
}