@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    gap: 0;
}


:root{
    --Gradiente: linear-gradient(to right, #6448fe, #600594) ; /*Gradiente Selecionado*/
    --Vermelho: #ff5252; /*ERROR*/

    --White: #ffffff;
    --VioletaClaro: #dedddf;
    --CinzaVioletaClaro: #8e8593;
    --VioletaEscuro: #21092f;

    --Font: 'Space Grotesk', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: inline-flex;
    width: 1440px;
    height: 100%;
    align-self: center;
    font-family: var(--Font);
    font-size: 14px;
    overflow: hidden;
}

#cards{
    width: 33%;
    height: 100vh;
    background-image: url('images/bg-main-desktop.png');
    color: var(--White);
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 0;
    column-gap: 0;
}

#frontcard{
    padding: 0 24px;
    width: 100%;
    height: 16rem;
    padding: 20px;
    margin-right: -16rem;
    background-image: url('images/bg-card-front.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#backcard{
    width: 100%;
    height: 16rem;
    margin-right: -24rem;
    background-image: url('images/bg-card-back.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#registration{
    width: 66%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#emmet{
    font-size: 14px;
    row-gap: 0;
    column-gap: 0;
    background-color:var(--CinzaVioletaClaro);
    width: 48%;
    height: fit-content;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#emmet > h1, #emmet >h2{
    width: 100%;
    padding: 8px;
}

#emmet > h3{
    width: 33%;
    padding: 8px;
}

#emmet > input{
    border-radius: 0.64em;
    border: 0;
    padding: 8px;
}

#emmet > input:focus{
    border-radius: 0.64em;
    border: 1;
    color: #600594;
    border-style: dotted;
    padding: 8px;
}

#emmet > button{
    background-color: #21092f;
    color: var(--White);
    border-radius: 1rem;
    width: 100%;
    padding: 16px 24px;
}

input::placeholder{
    color: #8e8593;
    font-family: var(--Font);
    font-weight: 500;
}

#name{
    width: 90%;
}

#numberid{
    width: 90%;
}

#expdate{
    flex-wrap: wrap;
    display: flex;
    width: 48%;
}
#expdate >h1{
    padding: 8px;
}

#expdate > input {
    border: 5px solid;
    border-radius: 0.64em;
    border-image: var(--Gradiente);
}

#year, #month{
    width: 24%;
}

#cvc{
    width: 48%;
}
